<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Single Image Sequence</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .image-sequence { margin: 0px; list-style-type: none; padding: 0; height: 150px; }
        .image-sequence li { margin: 3px; float: left; height: 140px; width: 140px}
        .buttons {clear:both; }
        .save-button {margin: 10px 0px 0px 3px;}
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
        $( ".image-sequence" ).sortable();
        $( ".image-sequence" ).disableSelection();
        } );
    </script>
</head>
<body>
    <div class="single-question">
        <div class="images">
            <ul class="image-sequence">
            </ul>
        </div>
        <div class="buttons">
            <button class="save-button">Save Order</button>
        </div>
    </div>
</body>
<script src="static/single-question.js"></script>
</html>