#questions-collection {
    width:100%;
}

.image-sequence {
    list-style-type: none;
}

.single-question {
    float: left;
    overflow:hidden;
    width:100%;
}

.user-description {
    float: left;
    overflow:hidden;
    width:60%;
    resize: none;
    margin-left: 45px;
    height: 100px;
}

.single-question img {
    float:left;
    width:100%;
}

.result-box {
    color: #66ADFF;
    background-color: #E4E4E4;
    border-width: 1px;
    border-style: solid;
    float: left;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}

.result-box-completed {
    color: #66ADFF;
    background-color: #E4E4E4;
    border-width: 1px;
    border-style: solid;
    float: left;
    width: 100%;
}

.result-sequence {
    list-style-type: none;
}

.hidden-data {
    visibility: hidden;
}

ul {
    width: 100%;
    display: block;
    float: left;
}

li {
    width: 18%;
    float: left;
    height: auto;
    padding: 5px;
    text-align: center;
}

h2 {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#instruction {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.question-description {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General Buttons */
button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

button.site {
  width: 40px;
  text-align: center;
  text-indent: 0;
}
button.site:after{
  display: none;
}

/* Presentation stuff */
.holder {
  width: 400px;
  padding: 30px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.submit-holder {
    width: 100%;
    display: block;
    float: left;
    height: 500px
}